[Unit]
Description=Configure CatCat OS for current system
After=rpm-ostreed.service
Before=systemd-user-sessions.service bazzite-hardware-setup.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/catcat-system-setup

[Install]
WantedBy=multi-user.target
