[Unit]
Description=CatCat Os Services to Run at Boot
After=rpm-ostreed.service bazzite-hardware-setup.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/secatcat
ExecStart=/usr/libexec/catcat-kargs
ExecStart=/usr/libexec/catcat-system-setup
ExecStart=/usr/libexec/catcat-flatpak-manager

[Install]
WantedBy=multi-user.target
