[Unit]
Description=Cleanup and Maintenance of CatCat OS

[Service]
Type=oneshot
ExecStart=/usr/libexec/catcat-maintenance

[Install]
WantedBy=multi-user.target
