[Unit]
Description=Install system flatpaks
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/catcat-flatpak-manager --install-all
