[Unit]
Description=Configure catcat system
After=rpm-ostreed.service tuned.service
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/catcat-system-setup

[Install]
WantedBy=multi-user.target
