[Unit]
Description=Dualsense Catppuccin Rainbow

[Service]
Type=simple
ExecStart=/usr/libexec/dualsense-catppuccin-rainbow

[Install]
WantedBy=default.target
