[Unit]
Description=Duelsense Catppuccin Rainbow

[Service]
Type=simple
ExecStart=/usr/libexec/duelsense-catppuccin-rainbow

[Install]
WantedBy=default.target
