[Desktop Entry]
Type=Application
Icon=bluefish
NoDisplay=false
Exec=ghostty -e asciiquarium
Terminal=true
X-GNOME-UsesNotifications=false
Name=Asciiquarium
