[Desktop Entry]
Type=Application
Icon=calligraflow
NoDisplay=false
Exec=cmatrix -br
Terminal=true
X-GNOME-UsesNotifications=false
Name=Cmatrix Rainbow
