.bbm-submenu {
  margin-top: 0px;
  margin-bottom: 0px;
  transition: margin-top 200ms ease-out, margin-bottom 200ms ease-out;
}
.bbm-submenu.open {
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: rgba(128, 128, 128, 0.2) !important;
  color: inherit !important;
}
.bbm-submenu.open:hover {
  background-color: rgba(128, 128, 128, 0.2) !important;
  color: inherit !important;
}
.bbm-panel-popupmenuitem {
  width: 16em;
}
.bbm-bt-widget {
  margin-left: 4px;
  margin-right: 4px;
}
.bbm-bt-open-menu {
  border-radius: 18px;
}
.bbm-bt-percentage-label {
  text-align: center;
}
.bbm-panel-title-label {
  font-weight: bold;
  text-align: center;
  padding: 4px;
}
.bbm-popup-menu {
  background-color: transparent;
}
.bbm-popup-menu-box {
  min-width: 15em;
  background-color: transparent;
}
.bbm-popup-titlebox {
  margin-top: 2px;
  margin-bottom: 8px;
}
.bbm-popup-title {
  font-weight: bold;
  font-size: 0.9em;
}
.bbm-popupmenu-expander {
  min-width: 6px;
}
.bbm-header-icon {
  icon-size: 12px;
}
.bbm-panel-icon {
  margin-left: 4px;
  margin-right: 4px;
}
.bbm-panel-expand-icon {
  icon-size: 12px;
  margin-right: 6px;
  margin-left: 6px;
}
.bbm-header-button {
  min-width: 20px;
  min-height: 20px;
  border-radius: 6px;
  padding: 2px;
  background-color: transparent;
}
.bbm-header-button:hover {
  background-color: rgba(128, 128, 128, 0.4);
}
.bbm-header-button:checked {
  background-color: rgba(128, 128, 128, 0.9);
}
.bbm-header-button:focus {
  background-color: inherit;
}
.bbm-header-bin {
  min-width: 20px;
  min-height: 20px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 6px;
  background-color: rgba(128, 128, 128, 0.3);
}
.bbm-panel-start-bin {
  padding-left: 4px;
  padding-right: 4px;
}
.bbm-battery-veritcal-widget-label{
  padding-top: 4px;
  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
}
.bbm-battery-vertical-widget-box {
  min-width: 5em;
}
.bbm-battery-vertical-space-bin {
  min-width: 20px;
}
.bbm-menu-separator {
  min-height: 1px;
  margin-top: 8px;
  background-color: rgba(128, 128, 128, 0.4);
}
.bbm-toggle-box {
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.3);
  margin-bottom: 3px;
}
.bbm-toggle-button {
  background-color: transparent;
  border-radius: 5px;
  padding: 2px;
  min-height: 1.75em;
  min-width: 3.4em;
  height: 1.75em;
  width: 3.4em;
}
.bbm-toggle-button:hover {
  background-color: rgba(128, 128, 128, 0.4);
}
.bbm-toggle-button:checked {
  background-color: rgba(128, 128, 128, 0.9);
}
.bbm-toggle-button:focus {
  background-color: inherit;
}
.bbm-toggle-button:checked:focus {
  background-color: rgba(128, 128, 128, 0.9);
}
.bbm-toggle-label {
  font-weight: bold;
  padding-bottom: 8px;
  font-size: 0.75em;
  max-width: 14.6em;
}
.bbm-box {
  margin-top: 8px;
  margin-bottom: 2px;
  border-radius: 4px;
}
.bbm-box-checkbtn {
  margin-top: 8px;
  border-radius: 4px;
}
.bbm-toggle-button-separator {
  min-width: 0.5px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.bbm-subtitle-label {
  text-align: center;
  font-weight: bold;
  padding-bottom: 4px;
  font-size: 0.75em;
  max-width: 14.6em;
}
.bbm-slider-bin {
  border-radius: 15px;
  border: 2px solid transparent;
  padding: 5px
}
.bbm-checkbtn-bin {
  min-width: 25px;
  min-height: 25px;
  border-radius: 10px;
  background-color: transparent;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 10px;
  margin-right:10px;
}
.bbm-checkbtn-bin:focus {
  background-color: rgba(128, 128, 128, 0.3);
}
.bbm-checkbtn {
  width: 22px;
  height: 22px;
  margin-top: 6px;
  margin-bottom: 2px;
}
.bbm-checkbtn-box {
  border-radius: 6px;
}
.bbm-checkbtn-icon {
  icon-size: 12px;
  padding: 0.5px;
}
.bbm-radiobtn-label {
  text-align: center;
  font-weight: bold;
  padding-bottom: 4px;
  font-size: 0.75em;
  max-width: 4.5em;
}
.bbm-radiobtn-bin {
  min-width: 25px;
  min-height: 25px;
  border-radius: 6px;
  background-color: transparent;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 0;
  padding-right: 0;
}
.bbm-radiobtn-bin:focus {
  background-color: rgba(128, 128, 128, 0.3);
}
.bbm-radiobtn {
  width: 22px;
  height: 22px;
  margin-top: 4px;
  margin-bottom: 2px;
}
.bbm-radiobtn-box {
  margin: 0;
  padding: 0;
  border-radius: 999px;
}
.bbm-radio2btn-box {
  width: 7em;
}
.bbm-radio3btn-box {
  width: 4.5em;
}
.bbm-radio4btn-box {
  width: 3.4em;
}
.bbm-radiobtn-icon {
  icon-size: 12px;
  padding: 1px;
  margin: 0;
}
.bbm-tooltip {
  font-weight: bold;
  font-size: 0.75em;
  text-align: center;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.6em;
}
.bbm-label-indicator-label {
  font-family: Inter;
  font-weight: bold;
  font-size: 0.75em;
  background-color: transparent;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 4px;
  margin-right: 4px;
}
.bbm-label-indicator-bin {
  border-radius: 4px;
  margin-left: 12px;
  margin-right: 12px;
}
.bbm-label-indicator-box {
  margin-top: 12px;
  margin-bottom: 4px;
}
