[Desktop Entry]
Hidden=false
Name=dash_to_panel_primary_monitor
Comment=Set primary monitor for dash to panel
Terminal=false
Exec=/etc/xdg/autostart/dash_to_panel_primary_monitor.sh
Type=Application
