[Desktop Entry]
Hidden=false
Name=dash_to_panel_primary_monitor
Comment=Set primary monitor for dash to panel
Terminal=false
Exec=/usr/libexec/catcat_autostart/dash_to_panel_primary_monitor.sh
OnlyShowIn=GNOME;
Type=Application
