[Desktop Entry]
Hidden=false
Name=gnome_middle_workspace
Comment=Set middle workspace as primary
Terminal=false
Exec=/usr/libexec/gnome_middle_workspace.sh
Type=Application
